<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Site ecommerce pour Lington Beauty">
		<meta name="author" content="Mlapalus-dev">
		<meta name="generator" content="Jekyll v4.1.1">
		<title>{% block title %}Lington Beauty{% endblock %}</title>

		{% include "fragments/_stylesheet.html.twig" %}

	</head>
</html>
