{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<h3>Filtrer</h3>
		{{ form(form) }}

	</div>
	<div class="col-md-9">
		<div class="album py-5 bg-light">
			<div class="container">
				<h3>Nos produits</div>
				<div class="row">
				{% for product in products %}
					<div class="col-md-4">
						{% include "/product/_card.html.twig" with {product : product} %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
